name: Verify PR Label

on:
  merge_group:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
      - labeled
      - unlabeled

permissions:  
  contents: read

jobs:
  check-label:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check PR label
        # Only fail if NOT merge_group, AND labels DO NOT contain 'changelog:'
        if: |
          github.event_name != 'merge_group' &&
          contains(join(github.event.pull_request.labels.*.name, ','), 'changelog:') == false
        run: |
          echo "::error::Pull request is missing a required 'changelog:' label. Found labels: ${{ join(github.event.pull_request.labels.*.name, ', ') }}"
          exit 1
